@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap');

:root {
    --primary-color: #f291a3;
    --text-color: #0b0340;
}
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', serif;
}

.container {
    background-image: linear-gradient(180deg, rgb(30 3 54), rgb(40 5 100 / 97%));
}

.player {
    width: 480px;
    margin: 0 auto;
    border: 1px solid #b340d9;
    box-shadow: -2px 5px 11px 4px #c53ef1;
    background-image: linear-gradient(45deg,#8500ff,#776060);
    border-radius: 20px;
}

.player::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

.player::-webkit-scrollbar-thumb {
    
    background-color: rgb(218, 214, 214);
}
.mode-control {
    top: 16px;
    position: absolute;
    left: 16px;
    font-size: 28px;
}

.mode-control:hover {
    cursor: pointer;
    rotate: 50deg;
    transition: 0.4s ease;
}

.dashboard .light-mode:hover {
}
.dashboard .light-mode {
    animation: hiddenLight ease-in-out 0.6s;
}
.dashboard .dark-mode {
    display: none;
    animation: showDark ease-in-out 0.6s;
}

.dashboard .light-mode.using {
    display: none;
}

.dashboard .dark-mode.using {
    display: inline-block;
}
@keyframes hiddenLight {
    0% {
        opacity: 0;
        top: 25px;
    }
    100% {
        opacity: 1;
        top: 16px;
    }
}

@keyframes showDark {
    0% {
        opacity: 0;
        top: 10px;
    }
    100% {
        opacity: 1;
        top: 16px;
    }
}
header {
    text-align: center;
    margin-top: 12px;

}

.dashboard {
    position: fixed;
    width: 480px;
    background-image: linear-gradient(80deg, rgb(133, 0, 255), rgb(119, 96, 96));
    top: 0;
    border-radius: 20px;
    box-shadow: 0px 1px 4px 0px #c642d7;
    z-index: 9999;
}

.cd {
    width: 250px;
    margin: 8px auto;
}
.music-name {
    text-align: center;
    margin: 10px 0 28px;

}
.music-cd {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100%;
    width: 100%;
    
}

.control {
    display: flex;
    justify-content: space-around;
    margin: 18px 18px 8px;
    align-items: center;
}

.btn {
}

.btn-repeat.active {
    color:  var(--primary-color);
}

.btn-pre {

}

.btn-play {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--primary-color);
}

.btn-play:hover {
    cursor: pointer;

}

.btn {
    cursor: pointer;
}
.icon-play, .icon-pause {
    font-size: 50px;
}
.control .icon-pause {
    display: none;
}

.btn-play.playing .icon-play {
    display: none;
}

.btn-play.playing .icon-pause {
    display: inline-block;
}

.btn-next, .btn-repeat, .btn-pre, .btn-random{
    font-size: 22px;
    color: var(--text-color);
}

.btn-random.active {
    color:  var(--primary-color);
    
}


input[type="range"] {
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;   
    background-color: transparent;
    margin-bottom: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: var(--primary-color);
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #f8b195;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: var(--text-color)
    center no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: grab;
}


input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
}


#audio {

}

.play-list {
    margin-top: 468px;
    background-image: linear-gradient(45deg,#8500ff,#776060);
    padding: 30px 0;
}

.song {
    width: 95%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #f58af7;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px #981d9b;
    margin-bottom: 10px;
    background-color: #ffd8b9;
    border-radius: 15px;
    cursor: pointer;
}
.song:hover {
    background-color: var(--primary-color);
}
.song.active {
    background-color: var(--primary-color);

}

.song:active {
    opacity: 0.9;
}

/* .song.active .song-info {
    color: white;
}

.song.active .song-info .author {
    color: white;
} */
@keyframes pressSong {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
        transition: 1s;
    }
    100% {
        transform: scale(1);
        transition: 1s;
    }
}

.song-img {
    width: 42px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.song-info {
    margin-left: 22px;

}

.song-info .title {
    color: var(--text-color);
}

.song-info .author {
    color: var(--text-color);
    opacity: 0.9;

}
